{% extends 'app/base.html' %}

{% block title %}
            Contact
{% endblock title %}

{% load crispy_forms_tags %}


{% block content %}

<!-- <div class="container">
    <form action="" method="POST">
        {% csrf_token %}

        {{ form }}

        <button type="submit">Send</button>
    </form>
</div> -->

<form action="" method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Name</span>
    <input type="text" name="name" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" required>
    </div>
    <div class="input-group">
        <span class="input-group-text">With textarea</span>
        <textarea name="message" class="form-control" aria-label="With textarea" required></textarea>
    </div>

    <button type="submit">Send</button>
</form>

{% endblock content %}